.credit-card-div  span { padding-top:10px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px;
    border-color: gray 2px;
}

.contenedor{
    
    display: flex;
    width: 100%;
    margin-left: 50px;
    padding-top: 30px;
    /*;
    margin-right: auto;*/
    
}
form{
    margin-top: 30px;
    display: grid;
   margin-left: 200px;
    border: 1px solid rgba(128, 128, 128, 0.836);
    width: 70%;
}
.title{
    padding-top: 40px;
    
   
}
h2{
    text-align: center;
    color: rgba(253, 0, 0, 0.767);
}


